
.about .header {
	background-image:  url("../images/bg-marolinhas.png"), url("../images/bg-about.jpg");
}

.header-about {
	height: 350px;
}

.header-about-title {
	font-weight: bold;
	font-size: 3em;
	line-height: 1em;
	padding-top: 1.3em;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-shadow: 1px 1px 1px #333;
}


.content-wrapper {
  background-color: #218CCB;
  color: #FFF;
  text-align: left;
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 2em;
}

.content {
  font-size: 1.4em;
  font-weight: 300;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8em;
}

.content  h1 {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}

.content h2 {
	font-size: 1.6em;
	font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.content h2:first-child {
  padding-top: 0;
}

.content h3 {
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 0.4em;
}


.content p,
.content ul,
.content table {
  margin-bottom: 1em;
}

.content ul {
  padding: 1em;
}

.content li {
  list-style-type: disc;
  line-height: 2em;
}

.content li a {
  text-decoration: none;
}

.content li a:hover {
  text-decoration: underline;
}

.content img {
  width: 100%;
}

.google-map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


@media(min-width: 772px) {

}

@media(min-width: 992px) {

  .header-about-title {
  	font-weight: bold;
  	font-size: 3.2em;
  	line-height: 1.3em;
  	width: 50%;
  }

  .content-wrapper img {
    width: 40%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .content-wrapper img.right {
    float: right;
    margin-left: 2em;
  }

  .content-wrapper img.left {
    float: left;
    margin-right: 2em;
  }


}
