.keynotes {
	background-color: #218ac9;

	color: #FFF;
	text-align: center;

	overflow: hidden;
	padding-top: 2em;
	padding-bottom: 2em;
}
.keynotes-title {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;

	margin-bottom: 2em;
}

.keynotes-speakers:not(:last-child) {
	margin-bottom: 2em;
}
.keynotes-speakers-photo {
	margin-bottom: 0.2em;
}
.keynotes-speakers-photo img {
	max-width: 246px;
	width: 67.5%;
	border-radius: 200px;
}
.keynotes-speakers-title {
	font-weight: 600;
	font-size: 1.4em;
	line-height: 1.5em;
}
.keynotes-speakers-subtitle {
	color: #99C0D6;
	font-size: 0.9em;
	line-height: 1em;

	margin-bottom: 0.8em;
}
.keynotes-speakers-description {
	font-weight: 300;

	max-width: 246px;
	width: 67.5%;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}
.keynotes .buttonAction {
	background-color: #FFF;
	color: #218ac9;
}

@media(min-width: 520px) {
	.keynotes-speakers-description,
	.keynotes-speakers-photo img {
		width: 84%;
	}
}


/* Keynotes Page */

.content .keynote-list li {
	list-style-type: none;
	text-align: center;
	margin-bottom: 20px;
}

.content .keynote-list .row img {
	border-radius: 500px;
	margin-top: 3em;
	width: 250px;
}
.content .keynote-list .row:first-child img {
	margin-top: auto;
}

.keynote-list .text {
	font-size: 1em;
	line-height: 1.4em;
	display: inline-block;
}

.keynote-list .text small {
    display: block;
    line-height: 1em;
    margin-bottom: 0.75em;
		color: #999;
}

.keynote-list .text h3 {
	margin-bottom: 0;
	color: #218ac9;
}

.keynote-page .header {
	background-image:  url("../images/bg-marolinhas.png"), url("../images/bg-keynotes.jpg");
	-webkit-background-size: auto, cover;
	   -moz-background-size: auto, cover;
		   -o-background-size: auto, cover;
			    background-size: auto, cover;

}
/* @TODO  refactor class names, this is a mess */

.keynote-page .header-about {
	height: 350px;
}


.center {
	text-align: center;
}


@media(min-width: 768px) {
	.keynote-page .header-about-title {
		width: 60%;
	}
	.content .keynote-list li {
		text-align: left;
	}

	.content .keynote-list .row img {
		width: 25%;
	}

	.content .keynote-list .row:first-child img {
		margin-top: 2em;
	}

	.content .keynote-list .row:nth-child(2n+1) img {
		float: left;
		margin-right: 1em;
	}
	.content .keynote-list .row:nth-child(2n) img {
		float: right;
		margin-left: 1em;
	}

	.keynote-list .text {
		font-size: 0.8em;
	}

}
