.subscriptions {
	background-color: #218CCB;

	color: #FFF;
	text-align: left;

	overflow: hidden;
	padding-top: 2em;
	padding-bottom: 2em;
}

.subscriptions h1 {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}

.subscriptions h3 {
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 0.8em;
}

.subscriptions .content {
	font-size: 1.4em;
	font-weight: 300;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}

.subscriptions .buttonAction {
	background-color: #FFF;
	color: #1F8CCB;
	
	margin-left: 0;
	display: block;
	margin-bottom: 2em;
}


.price {
	margin-bottom: 2em;
}

.price dt {
	margin-top: 20px;
	font-weight: bold;
}

.faq {
	margin-bottom: 2em;
}

.faq dd {
	margin-bottom: 2em;
}
